<p id="notice"><%= notice %></p>

<h1>영화 정보 조회</h1>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= "##{movie.id} " + movie.title %> </td>
        <td><%= link_to '크레딧 조회', movie %></td>
      </tr>
    <% end %>
  </tbody>
</table>
