<p id="notice"><%= notice %></p>

<h1>영화 정보 조회</h1>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%="##{movie.id}"%> <%= link_to "#{movie.title}", movie %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '뒤로', controller: 'index' %>