<p id="notice"><%= notice %></p>

<h1>TV시리즈 정보 조회</h1>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @tvs.each do |tv| %>
      <tr>
        <td><%="##{tv.id}"%> <%= link_to "#{tv.title}", tv %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '뒤로', controller: 'index' %>